<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autoconnect">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoConnect"
        tools:targetApi="31">
        <service android:name=".MyFirebaseMessagingService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".admin.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".admin.AddAdminActivity"
            android:exported="true" />
        <activity
            android:name=".admin.ManageSocialActivity"
            android:exported="true" />
        <receiver android:name=".NotificationBroadcastReceiver" />
    </application>

</manifest>